In [1]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized.

In [3]:
# Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Matlab
5. JavaScript
6. SQL

In [4]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Scikit-Learn
4. Matplotlib
5. Seaborn

In [5]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|-----|
|Python|
|Github|
|Apache Hadoop|

In [6]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python
* Addition: 1 + 1 = 2
* Subtraction: 1 - 1 = 0
* Multiplication: 1 * 1 = 1
* Division: 1 / 1 = 1

In [8]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
# This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

In [11]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [12]:
# This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

In [14]:
# Exercise 10 - Insert a markdown cell to list Objectives

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* List popular languages for Data Science
* List popular open source tools for Data Science
* List commonly used data libraries for Data Science
* Create and save a simple Jupyter notebook

In [15]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Yeo Han Sia